body {
  padding: 0;
  margin: 0;
  text-align: center;
}
#game {
  display: inline-flex;
  position: relative;
}
#scene {
  background: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
#fullscreen {
  display: block;
  background-image: url("../images/fullscreen.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: background-color .2s;
}

#fullscreen:hover {
  background-color: rgba(255, 255, 255, 0.4);
}